<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings for Jenkins -->
    <property name="connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
    <property name="connection.url">jdbc:hsqldb:mem://localhost/orprovtest</property>
    <property name="connection.username">SA</property>
    <property name="connection.password"></property>

    <!-- SQL dialect -->
    <property name="dialect">org.hibernate.dialect.HSQLDialect</property>

    <!-- Database connection settings MySQL -->
    <!--property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost/orprovtest</property>
    <property name="connection.username">root</property>
    <property name="connection.password">cpr</property-->

    <!-- SQL dialect -->
    <!--property name="dialect">org.hibernate.dialect.MySQLDialect</property-->

    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>

    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>

    <!-- Disable the second-level cache  -->
    <property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">false</property>
    
    <!-- Drop and re-create the database schema on startup -->
    <property name="hbm2ddl.auto">create</property>
    
    <!-- Object mappings -->
    <mapping resource="OpenRate/customerinterface/webservices/Account.hbm.xml"/>
    <mapping resource="OpenRate/customerinterface/webservices/AccountVersion.hbm.xml"/>
    <mapping resource="OpenRate/customerinterface/webservices/Alias.hbm.xml"/>
    <mapping resource="OpenRate/customerinterface/webservices/ERA.hbm.xml"/>
    <mapping resource="OpenRate/customerinterface/webservices/Product.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
